@import "~@fortawesome/fontawesome-free/css/all.min.css";

@import "assets/scss/index";

* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  background-color: #58bddb;
}

app-root{
  display: flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

app-mesas-link, app-logout {
  display: flex;
}

app-tables{
  display: flex;
  flex-direction: column;
  align-self: initial;
  min-height:100vh;
  min-width: 100%;
  padding: 0%;
  margin:0%;
}

app-table {
  display: flex;
  align-self: initial;
  min-height:100vh;
  min-width: 100%;
}