@import "~@fortawesome/fontawesome-free/css/all.min.css";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: lightblue;
}

.btn-menu, .btn-primary, .btn-secondary {
  text-decoration: none;
}

.btn-primary, .btn-secondary {
  min-width: 5rem;
  text-align: center;
}

.btn-menu {
  background-color: #333;
  padding: 1rem;
  color: white;
  border: none;
  box-shadow: 0 0 0.5rem black;
}

.btn-primary {
  background-color: #333;
  padding: .5rem;
  color: white;
  border: none;
  box-shadow: 0 0 0.5rem black;
}

.btn-secondary {
  background-color: #333;
  padding: .5rem;
  color: white;
  border: none;
  box-shadow: 0 0 0.5rem black;
}

app-mesas-link, app-logout {
  display: flex;
}